.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
  text-align: left;
  margin: 0;
  color: white;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .place__title {

    font-size: 72px;
    max-width: 440px;

  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {



  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {


  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}