.intro__list {
  max-width: 690px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 33px;
  color: white;
}


@media screen and (max-width: 767px) {


  .intro__list {
    max-width: 288px;
  }
}