.footer__link {
  text-decoration: none;
  margin: 0;
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: white;
}


.footer__link:hover {
  opacity: 0.8 ;
}

@media screen and (max-width: 767px) {

  
  .footer__link {
    margin-top: 32px;
    font-size: 24px;
    line-height: 24px;
  
  }
}