.place__paragraph {
  margin: 0;
  margin-bottom: 25px;
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
  color: white;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  
  .place__paragraph {
    width: 456px;

  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  
  .place__paragraph {
    margin: 0;
    max-width: 352px;
    font-size: 16px;

  }
}

@media screen and (max-width: 767px) {


  .place__paragraph {
    max-width: 288px;
    font-size: 16px;
     margin: 0 auto;
    margin-top: 32px;

  }
}