.intro {
  position: relative;
  display: flex;
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-direction: column;
  margin-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  
  .intro {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {


  
  .intro {
    max-width: 720px;
    margin-top: 88px;
  }
}


@media screen and (max-width: 767px) {



  
  .intro {
    max-width: 288px;
    margin-top: 64px;
  }
}