.lead__subtitle {
  width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  
}

@media screen and (max-width: 767px) {


  .lead__subtitle {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}