.place__link {  
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-align: left;
  color: white;
}

.place__link:hover {
  color: #d5d6d6;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {

  
  .place__link {  
    max-width: 288px;
    margin: 0 auto;
  }
}