* {
  color: white;
  
  
}

/** {
  outline: 1px solid red;
  
  
}
*/
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
       url("../fonts/Inter-Black.woff") format("woff");
}

.page{
  width: 1280px;
  background-color: #25282b;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
}





.header {
  position: relative;
  display: flex;
  width: 1184px;
  height: 52px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 28px;
  flex-direction: row;
  justify-content: space-between;
  
}






.header__logo {
  width: 176px;
  height: 52px;
  object-fit:cover;
}

.header__lang {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  list-style: none;
}

.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration: none;

}

.header__lang-link_lang_ru {
  text-decoration-line: underline;
}

.lead {
  position: relative;
  display: flex;
  width: 984px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  flex-direction: column;

}

.lead__title {
  width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lead__subtitle {
  width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lead__image {
  margin-top: 64px;

}

.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
}

.intro {
  position: relative;
  display: flex;
  width: 984px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-direction: column;
  margin-top: 92px;
}

.intro__title {
  width: 690px;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
}

.intro__text {
  width: 690px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  text-align: left;
  margin-top: 40px;
}

.intro__list {
  width: 690px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 33px;
}

.photo-grid {
  position: relative;
  display: grid;
  width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
}

.photo-grid__item {
  width: 284px;
  height: 213px;
}

.places {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 12px;
}

.place {
  position: relative;
  display: inline-grid;
  width: 984px;
  grid-template-columns: 1fr 484px;
  grid-template-rows: 1fr 460px;
  margin: 0;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  gap: 48px 40px;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 460px;
  text-align: left;
  margin: 0;
}

.place__website {

  margin: 0;
  align-self: flex-end;
}

.website__url_heading {
  
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #AAAAAA;
}

.website__link {  
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-align: left;
}

.website__link:hover {
  color: #d5d6d6;
  opacity: 0,8;
}

.place__image {
  margin: 0;
  width: 460px;
  height: 460px;

}

.place__paragraph {
  margin: 0;
  width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
}

.place__paragraph_number_two {
  margin: 0;
  margin-top: 26px;
  
}

.cover{
  position: relative;
  display: flex;
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  margin-top: 92px;
  flex-direction: column;
  align-items: center;
}

.cover__image {
  position: absolute;
  z-index: -1;
  width: 1184px;
  height: 740px;
  
}

.cover__overlay{
  position: absolute;
  width: 1184px;
  height: 740px;
  background: #2A2C2F;
  opacity: 0.3;

}

.cover__overlay:hover {
  background: #2A2C2F;
  opacity: 0.6;
}

.cover__link {
  position: absolute;
  width: 1184px;
  height: 740px;
  z-index: 2;
}

.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  margin-top: 245px;
  z-index: 3;
}

.cover__subtitle {
  width: 360px;
  margin: 0;
  margin-top: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 3;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;

}

.footer__links {
  position: relative;
  display: flex;
  flex-direction: row;
}

.footer__text {
  margin: 0;
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

}

.footer__link {
  text-decoration: none;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .page{
    width: 1024px;
  }


  .header {
    width: 928px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
  }



  .lead {

    width: 928px;
    margin-top: 48px;
  
  }

  .lead__image {
    margin-top: 56px;
  
  }
  
  .intro {
    width: 928px;
  }

  .photo-grid {

    width: 928px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 14px;
  }

  .photo-grid__item {
    width: 300px;
    height: 225px;
  }
  
  .place {
    width: 928px;
    grid-template-columns: 1fr 456px;
    grid-template-rows: 1fr 440px;
    gap: 48px 32px;
  }

  .place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 440px;
    text-align: left;
    margin: 0;
  }
  
  
  
  .place__image {
    margin: 0;
    width: 440px;
    height: 440px;
  
  }
  
  .place__paragraph {
    margin: 0;
    width: 456px;


  }

  .place__paragraph_number_two {
    margin: 0;
    margin-top: 26px;
    
  } 

  .cover{
    width: 1024px;
    height: 640px;
  }
  
  .cover__image {
    width: 1024px;
    height: 640px;
  }
  
  .cover__overlay{
    width: 1024px;
    height: 640px;
  }
  
  .cover__link {
    width: 1024px;
    height: 640px;
  }
  
  .cover__title {
    margin-top: 195px;
  }
  

  .footer {
    width: 928px;
  }
  

}



@media screen and (min-width: 768px) and (max-width: 1023px) {

  .page{
    width: 768px;
  }

  .header {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
  }

  .lead {
    width: 768px;
    margin-top: 48px;
  }

  .lead__caption {
    margin: 0;
    margin-top: 8px;
    margin-left: 24px;
  }

  .lead__image {
    width: 768px;
    margin-top: 56px;
  
  }
  
  .intro {
    width: 720px;
    margin-top: 88px;
  }

  .intro__text {
    width: 720px;
  }
  

  .photo-grid {

    width: 720px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 14px;
    margin-top: 88px;
  }

  .photo-grid__item {
    width: 352px;
    height: 264px;
  }
  
  .places {
    margin-top: 15px;
  }

  .place {
    width: 720px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 48px 28px;
    margin-top: 73px;
  }

  .place__title {
    width: 340px;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    text-align: left;
    margin: 0;
  }
  
  
  
  .place__image {
    margin: 0;
    width: 340px;
    height: 340px;
  
  }
  
  .place__paragraph {
    margin: 0;
    width: 352px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;

  }

  .place__paragraph_number_two {
    margin: 0;
    margin-top: 25px;
    
  } 

  .cover{
    width: 768px;
    height: 480px;
  }
  
  .cover__image {
    width: 768px;
    height: 480px;
  }
  
  .cover__overlay{
    width: 768px;
    height: 480px;
  }
  
  .cover__link {
    width: 768px;
    height: 480px;
  }
  
  .cover__title {
    margin-top: 115px;
  }
  

  .footer {
    width: 720px;
    margin-top: 88px;
  }
  

}




@media screen and (max-width: 767px) {

  .page{
    width: 320px;
  }

  .header {
    width: 288px;
    height:42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  
  }

  .lead {
    width: 320px;
    margin-top: 48px;
  }

  .lead__title {
    width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }

  .lead__caption {
    margin: 0;
    margin-top: 8px;
    margin-left: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }

  .lead__image {
    width: 320px;
    margin-top: 40px;
  
  }
  
  .intro {
    width: 288px;
    margin-top: 64px;
  }

  .intro__title {
    width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .intro__list {
    width: 288px;
  }
  

  .photo-grid {
    width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin-top: 64px;
  }

  .photo-grid__item {
    width: 288px;
    height: 216px;
  }
  
  .places {
    margin-top: 0;
    margin-top: 14px;
  }

  .place {
    width: 320px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap:0;
    margin-top: 50px;
  }

  .place__title {
    width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: left;
    margin: 0 auto;
  }
  

  
  
  .place__image {
    margin: 0;
    width: 320px;
    height: 320px;
  margin-top: 32px;
  }

  .place__website {
    width: 288px;
    align-self: flex-end;
    margin: 0 auto;
    margin-top: 32px;
  }
  
  .website__url_heading {
    width: 288px;

    margin: 0;
    margin: 0 auto;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    color: #AAAAAA;
  }
  
  .website__link {  
    width: 288px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
  }
  
  .place__paragraph {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
     margin: 0 auto;
    margin-top: 32px;

  }

  .place__paragraph_number_two {
    margin: 0 auto;
    margin-top: 25px;
    
    
  } 

  .cover{
    width: 320px;
    height: 200px;
  }
  
  .cover__image {
    width: 320px;
    height: 200px;
  }
  
  .cover__overlay{
    width: 320px;
    height: 200px;
  }
  
  .cover__link {
    width: 320px;
    height: 200px;
  }
  
  .cover__title {
    margin-top: 33px;
    width: 288px;
    font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  }
  
  .cover__subtitle {
    width: 288px;
    margin: 0;
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

  }


  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    margin-top: 64px;
  }
  
  .footer__links {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .footer__text {
    margin: 0;
    margin-right: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  
  }
  
  .footer__link {
    margin-top: 32px;
    text-decoration: none;
  }
  
  .footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 48px;
  }

}