
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .footer {
    width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .footer {
    width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {

  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    margin-top: 64px;
  }
}