.place__url-heading {
  
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #AAAAAA;
}

@media screen and (max-width: 767px) {

  .place__url-heading {
    max-width: 288px;
    margin-left: 16px;
}
}